node_modules
**/node_modules
dist
**/dist
.turbo
**/.turbo
.git
.github
.gitignore
.env
.env.local
.env.*.local
*.log
**/*.tsbuildinfo
coverage
.vscode
.idea
.DS_Store
Dockerfile
**/Dockerfile
.dockerignore
docker-compose*.yml
README.md
CONTRIBUTING.md
SECURITY.md
LICENSE
docs
